* {
  /* background-color: gray; */
}
.container {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}
td {
  border: 1px solid black;
}

.box {
  height: 18px;
  width: 18px;
}
.header_box {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
