* {
  /* background-color: gray; */
}
.container {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
}
table {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}
td {
  border: 1px solid #2980b9;
}
.normalBox {
  height: 20px;
  width: 20px;
}
.header_box {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}
.animateBox {
  height: 20px;
  width: 20px;
  animation-name: boxAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; /*(Has no affect on the effect, Can be removed*/
}
@keyframes boxAnimation {
  0% {
    transform: scale(0.3);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  }
  50% {
    transform: scale(1.2);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  }

  100% {
    transform: scale(1);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  }
}
