table {
  border-collapse: collapse;
  /* table-layout: fixed; */
}
td {
  border: 1px solid #2980b9;
  height: 26px;
  width: 26px;
}
.wall {
  height: 100px;
  width: 100px;
  animation: wallAnimation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; /*(Has no affect on the effect)Can be removed*/
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}
.test {
  animation: tester;
}
@keyframes tester {
  0% {
    width: 0px;
    height: 0px;
  }

  50% {
    width: 20px;
    height: 20px;
  }

  100% {
    width: 100px;
    height: 100px;
  }
}
.rippleBox {
  width: 23px;
  height: 23px;
  border-radius: 100%;
  animation: ripple 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
    background: blue;
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
    background: blue;
  }

  100% {
    opacity: 1;
    transform: scale(2);
    background: blue;
    border-radius: 0%;
  }
}
