@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.graphContainer {
  /* width: 100%; */
  white-space: nowrap;
  margin-right: 1px; /* When our box-coloring animation reaches edge of screen, a wiggly effect takes place due to Scroll-bar intervention*/
  /* To avoid that we set the left margin to be 1px*/
}
.navbar {
  background-color: #4286f4 !important;
  border-radius: 0px;
  margin-bottom: 0px;
  pointer-events: auto; /*When an algo is being visualized, setting this to none can make the navbar unresponsive to clicks*/
}
/*Below is for Title-TEXT on Nav bar*/
/*........................Starts.............*/
.navbar-brand {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar > .container-fluid .navbar-brand {
  margin-left: 2px; /*For the Title left margin*/
  cursor: pointer;
}
/*......................Ends.................*/
/*Below is for buttons on Nav bar*/
/*........................Starts.............*/
.nav > li > a {
  color: white;
  text-decoration: none !important;
  background-color: transparent !important;
}
.nav > li > a:hover {
  transition: color 0.3s ease 0s;
  background-color: transparent !important;
  color: rgb(17, 223, 17);
  cursor: pointer;
}
.nav > li > a:active {
  transition: color 0.3s ease 0s;
  background-color: transparent !important;
  color: white;
}
/*......................Ends.................*/
/*Color for text of items on Nav Bar */
.dropdown-menu {
  background-color: whitesmoke;
}
/*For gap on drop-down-menu */
.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
}
/*Color for algorithms in drop-down */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: rgb(66 134 244);
}
.btn {
  margin-top: 9px;
}
/*......................Start.................*/
/*For removing red-color around  the button */
.btn:focus,
.btn:active:focus {
  outline: none;
}
/*When no algorithm is selected button should shake*/
.visualizeButtonShake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*......................Ends.................*/
table {
  border-collapse: separate; /*Responsible for creating space between each table cell, change the prop to collapse to see the effect*/
  table-layout: fixed;
  width: 100%;
}
td {
  border: 1px solid #2980b9;
  height: 26px;
  width: 26px;
  padding: 0px;
}
.drawTheShortestPath {
  animation-name: drawTheShortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes drawTheShortestPath {
  0% {
    transform: scale(0.3);
    /* border-radius: 10%; Not required */
    background-color: #f9d423;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-radius: 10%;
    background-color: #a8e063;
  }
}
.drawDistanceTravelled {
  animation-name: drawDistanceTravelled;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes drawDistanceTravelled {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
    background-color: #f9d423;
  }
  50% {
    background-color: #43e97b;
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-radius: 10%;
    background: #3498db;
  }
}
.wallBox {
  padding: 0px;
  animation-name: boxAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.wallBoxNoAnimation {
  /* When building mazes we dont want the animation*/
  padding: 0px;
  background-color: #2c3e50;
}
@keyframes boxAnimation {
  0% {
    transform: scale(0.3);
    background-color: #2c3e50;
  }
  50% {
    transform: scale(1.2);
    background-color: #2c3e50;
  }

  100% {
    transform: scale(1);
    background-color: #2c3e50;
  }
}
.startFlag {
  font-size: 21px;
  color: red;
  cursor: default;
  animation-name: rotateAnim;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.finishFlag {
  font-size: 21px;
  color: green;
  cursor: default;
  animation-name: rotateAnim;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes rotateAnim {
  100% {
    transform: rotate(360deg);
  }
}
.iconsPreviewSection {
  color: white;
  font-weight: normal !important;
}
.displayIcon {
  margin-top: 12px;
  font-size: 25px;
  cursor: default;
}
